{% load static %}
<html>

{% block head %}
	<head>
		<title>Devsar</title>
	</head>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% endblock %}

{% block nav %}
	<nav>
		<div class="text-center">
		    <h1>DEVSAR</h1>
		</div>    
	</nav>
	<hr>
{% endblock %}

{% block body %}

{% endblock %}
</html>